body {
  font: "Alan Sans", sans-serif;
  margin: 0;
}

.navbar {
  background-color: #bbdce5;
  overflow: hidden;
  color: white;
}
.navbar a {
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.navbar a img {
  height: 35px;
  width: auto;
  padding: 0px;
}
.navbar a:hover {
  color: #cfab8d;
  background-color: #d9c4b0;
  border-radius: 8px;
}
.navbar .logo {
  padding: 0px;
}
.navbar .logo:hover {
  background-color: transparent;
  color: inherit;
  border-radius: 0px;
}
.navbar .link {
  float: right;
  width: auto;
  display: block;
}

@media screen and (max-width: 800px) {
  .navbar a {
    float: none;
    width: 100%;
  }
  .navbar .link {
    float: none;
    width: 100%;
  }
}
.header {
  background-color: #f3f1ed;
  background-image: url("img/Header_Image.jpg");
  background-size: cover;
  color: #cfab8d;
  min-height: 400px;
  padding: 60px 5vw;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 15%;
  border-top: 1px solid #cfab8d;
  border-bottom: 1px solid #cfab8d;
}

.text-header {
  text-align: center;
}
.text-header h1 {
  text-shadow: 2px;
  font-size: clamp(28px, 6vw, 64px);
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.text-header h3 {
  font-size: clamp(20px, 4vw, 48px);
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 10px;
  color: #d9c4b0;
}
.text-header hr {
  width: 80%;
  margin: auto;
  border-color: #bbdce5;
  margin-bottom: 10px;
}
.text-header p {
  color: black;
  font-size: clamp(14px, 3vw, 32px);
  margin-bottom: 50px;
}

.button-signup {
  border: none;
  padding: 15px 15px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  font: "Alan Sans", sans-serif;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .button-signup {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
  }
}
.button-signup {
  color: white;
  background-color: #bbdce5;
  margin-right: 20px;
}
.button-signup:hover {
  background-color: grey;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-offer {
  border: none;
  padding: 15px 15px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  font: "Alan Sans", sans-serif;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .button-offer {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
  }
}
.button-offer {
  color: black;
  background-color: #d9c4b0;
  margin-left: 20px;
}
.button-offer:hover {
  background-color: grey;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.grid-container {
  width: 100%;
  overflow: hidden;
}

.left-item {
  width: 30%;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .left-item {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.left-item {
  text-align: center;
}

.right-item {
  width: 70%;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .right-item {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.right-item {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
}

.about {
  background-color: #eceedf;
  color: #cfab8d;
  padding: 40px 5vw;
  box-sizing: border-box;
}
.about img {
  border-radius: 100%;
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-bottom: 32px;
}
.about h5 {
  font-size: 20px;
  margin-top: 0;
}
.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.product {
  background-color: #eceedf;
  color: #cfab8d;
  padding-top: 16px;
  padding-bottom: 64px;
}

.text-header {
  padding-top: 20px;
  font-size: clamp(28px, 6vw, 64px);
}

.image-style, .product-body .product-item img {
  border-radius: 25px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-body {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  margin: 0 16vw;
  padding: 8px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media screen and (max-width: 800px) {
  .product-body {
    flex-direction: column;
    margin: 0 2vw;
  }
}
.product-body .product-item {
  background-color: wheat;
  color: gray;
  box-shadow: 0 4px 8px 0 gray;
  border-radius: 16px;
  flex: 1 1 200px;
  width: 100%;
  max-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-body .product-item img {
  width: 90%;
  height: auto;
  max-width: 100%;
}
.product-body .product-item .product-content {
  text-align: center;
  padding: 0px 16px;
  flex-grow: 1;
}
.product-body .product-item .product-content h5 {
  font-size: clamp(20px, 6vw, 32px);
}
.product-body .product-item .product-content p {
  font-size: clamp(16px, 6vw, 28px);
}
.product-body .product-item .product-footer {
  padding: 20px;
  margin-top: auto;
  padding-bottom: 16px;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .product-body .product-item {
    width: 100%;
  }
}

.button-explore {
  border: none;
  padding: 15px 15px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  font: "Alan Sans", sans-serif;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .button-explore {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
  }
}
.button-explore {
  color: black;
  background-color: #d9c4b0;
}
@media (max-width: 500px) {
  .button-explore {
    padding: 12px 20px; /* lebih kecil */
    font-size: 16px; /* text ikut kecil */
    border-radius: 8px; /* opsional biar proporsional */
  }
}
.button-explore:hover {
  background-color: grey;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.contact {
  background-image: url("img/TailorItems.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  padding: 50px;
}
.contact .info-body {
  width: 70%;
  background-color: rgba(236, 238, 223, 0.9);
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .contact .info-body {
    width: 85%;
  }
}
.contact .info-body .info-header {
  text-align: left;
  padding-left: 64px;
  padding-bottom: 32px;
}
.contact .info-body .info-header h2 {
  font-size: clamp(24px, 6vw, 36px);
}
.contact .info-body .info-header p {
  margin-bottom: 16px;
  font-size: clamp(16px, 4vw, 28px);
}
.contact .info-body .info-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 64px;
  flex-grow: 1;
}
@media screen and (max-width: 1150px) {
  .contact .info-body .info-content {
    flex-direction: column;
    gap: 16px;
  }
  .contact .info-body .info-content .info-item {
    width: 100%;
  }
}
.contact .info-body .info-content .info-item {
  border: 4px solid #cfab8d;
  border-radius: 24px;
  padding: 16px;
  box-sizing: border-box;
}
@media screen and (max-width: 1150px) {
  .contact .info-body .info-content .info-item {
    width: 100%;
  }
}
.contact .info-body .info-content .info-item h5 {
  font-size: clamp(20px, 6vw, 32px);
}
.contact .info-body .info-content .info-item p {
  justify-content: center;
  font-size: clamp(16px, 6vw, 28px);
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer {
  background-color: black;
  color: white;
  height: 20px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
}

/*# sourceMappingURL=output.css.map */
